<div id="page-not-found" class="text-center">
  <h1>
    NullPointerException
  </h1>

  <div>
    <h3 style="color: red;">Что-то пошло не так...</h3>
    <br /><br />
    Мы не можем найти страницу, которую вы ищете. Скорее всего запрашиваемая страница не существует или была удалена.
    <br>
    Если ошибка повторится, пожалуйста, <a href ng-click="openContactForm()">сообщите нам.</a>
    <br /><br />
  </div>
  <div>
    <a class="btn btn-primary" href="#/" style="color: #FFF;">Вернуться на главную.</a>
  </div>
</div>