<div class="row" style="margin-top: 20px;">
  <div class="col-md-offset-3 col-md-6">
  <tabset justified="true" class="tab-animation">

    <!-- ЛОГИН / ВХОД -->

    <tab heading="Вход">
      <div ng-include src="'partials/forms/sign-in.html'"></div>
    </tab>

    <!-- РЕГИСТРАЦИЯ -->

    <tab heading="Регистрация">
      <div ng-include src="'partials/forms/registration.html'"></div>
    </tab>

    <!-- ВОССТАНОВЛЕНИЕ ПАРОЛЯ -->

    <tab heading="Восстановление пароля">
      <div ng-include src="'partials/forms/password-recover.html'"></div>
    </tab>
  </tabset>
  </div>
</div>