<div class="ngdialog-message">
    Обязательные поля при создании или редактирования задачи:
    <br /><br />

    <ul>
        <li>Название задачи</li>
        <li>Условие задачи - текстовое описание требований к выполнению</li>
        <li>Эталонное решение задачи - собственно само решение</li>
        <li>Шаблон задачи - начальные строки, которые показываются пользователю при решении</li>
        <li>Тесты - тест для задачи (Чтобы проверить эталонное решение, а после проверять решения пользователей)</li>
    </ul>
</div>