#page-not-found h1 {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;

  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */

  color: white;

  text-shadow:
  3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}