<!-- Задачи решенные пользователем -->
<div>
  <table class="table table-hover table-condensed">
    <thead>
      <th>#</th>
      <th style="text-align: left;">
          <a ng-click="sortBy('taskName', 'solved')" class="sort-button">
            Название
            <span ng-show="predicate == 'taskName'">
              <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
              <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
            </span>
          </a>
      </th>
      <th>
          <a ng-click="sortBy('rating', 'solved')" class="sort-button">
            Рейтинг
            <span ng-show="predicate == 'rating'">
              <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
              <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
            </span>
          </a>
      </th>
      <th>
          <a ng-click="sortBy('author', 'solved')" class="sort-button">
            Автор
            <span ng-show="predicate == 'author'">
              <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
              <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
            </span>
          </a>
      </th>
      <!--<th ng-if="equalsTo(user.username)">Статус
      </th>-->
      <th>
          <a ng-click="sortBy('level', 'solved')" class="sort-button">
            Уровень
            <span ng-show="predicate == 'level'">
              <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
              <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
            </span>
          </a>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasksSolved">
        <td>{{itemIndex}}</td>
        <td style="text-align: left;">
          <a href="#/tasks/{{task.id}}">
            {{task.taskName.substring(0, 100)}}
          </a>
        </td>
        <td>{{task.rating}}</td>
        <td><a href="#/users/{{task.author}}">{{task.author}}</a></td>
       <!-- <td ng-if="equalsTo(user.username)"></td>-->
        <td>{{task.level}}</td>
      </tr>
    </tbody>
      <tbody ng-if="tasksSolved.length == 0">
      <tr>
        <td colspan="5" class="text-center">
          <span ng-if="equalsTo(user.username)">
            Вы еще не решили ни одной задачи.
          </span>
          <span ng-if="!equalsTo(user.username)">
            Пользователь не решил ни одной задачи.
          </span>
        </td>
      </tr>
      </tbody>
  </table>
  <div class="text-center" ng-if="totalItemsSolved > itemsPerPage">
      <pagination boundary-links="true" total-items="totalItemsSolved" ng-model="currentPageSolved"
                  items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged('solved', currentPageSolved)">
      </pagination>
  </div>
  <!-- <div class="text-center" ng-if="equalsTo(user.username)">
    <a href class="btn btn-info">Решить случайную задачу</a>
  </div> -->
</div>